/*Used CSS language*/
/*Body style*/
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    letter-spacing: 1px;
}


/*Header section style*/
.header{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 444px;
    margin-top: -40px;
}


/*h1 tag style*/
h1{
    color: rgb(255, 253, 253);
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-left: 440px;
    padding-right: 440px;
}


/*h2 tag style*/
h2{
    text-align: center;
    font-size: 30px;
    padding-top: 60px;
}


/*all p tag style*/
p{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-left: 480px;
    padding-right: 480px;
}


/*link button style*/
.link-button{
    text-decoration: none;
    font-size: 25px;
    margin-left: 45%;
    padding:12px;
    background: orange;
    border-radius: 10px;
}


/*p tag para class style*/
.para{
    color: black;
}


/*Donate today and donate plan flexible container style*/
.flexible-container{
    display: flex;
    justify-content: center;
}


/*Donate today amount section box, hover, taka class flexible container style*/
.box{
    width: 5%;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    background: rgb(214, 211, 211);
}

.hover{
    border: 2px solid orangered;
    background: rgb(175, 117, 96);
}

.Taka{
    font-size: 20px;
    margin-left: 410px;
    margin-top: 40px;
    padding-left: 170px;
    padding-right: 100px;
    border: 0px solid;
    outline: none;
    border-bottom: 1px solid darkslategray;   
}



/*Our donate plan flexible container tree style*/
.flexible-container-tree{
    display: flex;
    justify-content: center;
}

.flexbox{
    width: 33%;
    background: pink;
    margin: 20px;
    padding: 15px;
    border: 1px solid rgb(119, 118, 118);
}

/*Email and Subscribe section*/
.email-style{
    padding: 15px;
    outline: none;
    border: 0px solid;
    font-size: 20px;
    color: white;
    background: rgb(199, 198, 198);
}

.subscribe{
    padding: 15px;
    background: orangered;
}

.email-bg{
    background-color: antiquewhite;
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
}


/*Footer section*/
footer{
    background-color: black;
    color: red;
    height: 110px;
    padding-top: 6px;
}

h3{
    text-align: center;
    font-size: 27px;
}