/*Used CSS language*/

/*Body style*/
body{
    margin: 0px;
    padding: 0px;
}

/*Header section style*/
.header{
    background-image: url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 444px;
    margin-top: -40px;
}

h1{
    color: rgb(255, 253, 253);
    font-size: 40px;
    text-align: center;
    padding-top: 60px;
    padding-left: 440px;
    padding-right: 440px;
}

p{
    color: white;
    font-size: 20px;
    text-align: justify;
    padding-left: 480px;
    padding-right: 480px;
}

.link-button{
    text-decoration: none;
    font-size: 25px;
    margin-left: 45%;
    padding:12px;
    background: orange;
    border-radius: 10px;
}